@font-face {
  font-family: UBU-MD;
  src: url('fonts/Ubuntu-Medium.ttf');
}
@font-face {
  font-family: UBU-BLOD;
  src: url('fonts/Ubuntu-Bold.ttf');
}
@font-face {
  font-family: UBU-R;
  src: url('fonts/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: UBU-LIGHT;
  src: url('fonts/Ubuntu-Light.ttf');
}
@font-face {
  font-family: UBU-I;
  src: url('fonts/Ubuntu-Italic.ttf');
}
